################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/FFmpegQTGUItest/.vs/FFmpegQTGUItest/v15
/FFmpegQTGUItest/x64
/FFmpegQTGUItest/FFmpegQTGUItest/GeneratedFiles
/FFmpegQTGUItest/FFmpegQTGUItest/x64
